* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  nav {
    width: 80%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
  }
  
  .logo {
    flex-basis: 20%;
  }
  
  .logo img {
    width: 50px;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links ul li a:hover {
    color: rgb(60, 101, 121);
  }
  
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .image img {
    height: 85%;
    margin-right: 20px;
  }
  
  .c1,
  .c2 {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .image h1 {
    font-size: 5em;
    margin: 0;
    text-align: center;
    color: #fff;
  }
.image h2{
    color: gray;
}  